@media(max-width:325px) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 16px;
  }
  h5 {
    font-size: 8px;
  }
  #textoIngresado{
    font-size: 14px;
    padding: 8px;
    width: 300px;
    height: 300px;
  }
  #clave {
    font-size: 14px;
    padding: 8px;
    width: 100px;
    height:10px;
  }
  #cifrar{
    width: 150px;
    font-size: 18px;
  }

  #descifrar{
    width: 150px;
    font-size: 18px;
  }

  #limpiar {
    width: 100px;
    font-size: 16px;
  }

  #resultadoMensaje{
    font-size: 16px;
  }
}


@media (min-width:330px) add (max-width:760px) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  #textoIngresado{
    font-size: 10px;
    padding: 8px;
    width: 300px;
    height: 150px;
  }
  #clave {
    font-size: 10px;
    padding: 8px;
    width: 100px;
    height:10px;
  }
  #cifrar{
    width: 150px;
    font-size: 14px;
  }

  #descifrar{
    width: 150px;
    font-size: 14px;
  }

  #limpiar {
    width: 100px;
    font-size: 14px;
  }

  #resultadoMensaje{
    font-size: 16px;
  }
}
