body {
  background-image: url("http://s2.subirimagenes.com/privadas/previo/thump_2436866fondocipher.png");
    height: 200%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  font-size: 300%;
}

p {
  color: white;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 100%;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 200%;
}

form {
  text-align: center;
}

#textoIngresado{
  border-radius: 8px;
  float: none;
  border-color: white;
  color: grey;
  font-family: 'Hind', sans-serif;
  padding: 10px;
  width: 60%;
  height: 70px;
}

#clave {
  background-color: white;
  border-radius: 8px;
  border-color: white;
  color: grey;
  font-family: 'Hind', sans-serif;
  padding: 5px;
  width: 30%;
  height:20px;
  margin-bottom: 8px;
}


#cifrar{
  background: #8c66ff;
  border-radius: 5px;
  border-color: #8c66ff;
  padding: 4px;
  color:white;
  width: 15%;
  font-family: 'Hind', sans-serif;
  font-size: 100%;
  margin-right: 5%
}

#descifrar{
  background: #ff9933;
  border-radius: 5px;
  border-color: #ff9933;
  padding: 4px;
  color: white;
  width: 15%;
  font-family: 'Hind', sans-serif;
  font-size: 100%;
}

#limpiar {
  background: #ccffff;
  border-radius: 5px;
  border-color: #ccffff;
  padding: 4px;
  color: gray;
  width: 10%;
  font-family: 'Hind', sans-serif;
  font-size: 80%;
  margin: 10px;
}

#resultadoMensaje{
  color: gray;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 150%;
}
