body {
  background-color: #45B39D
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  font-size: 70px;
}

p {
  color: white;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 22px;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
}

form {
  text-align: center;
}

#textoIngresado{
  border-radius: 8px;
  border-color: white;
  color: grey;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  padding: 8px;
  width: 600px;
  height: 70px;
}

#clave {
  background-color: white;
  border-radius: 8px;
  border-color: white;
  color: grey;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  padding: 8px;
  width: 200px;
  height:20px;
  margin-bottom: 8px;
}


#cifrar{
  background: #8c66ff;
  border-radius: 5px;
  border-color: #8c66ff;
  padding: 4px;
  color:white;
  width: 200px;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  margin-right: 5px;
  margin-top:5px;
}

#descifrar{
  background: #ff9933;
  border-radius: 5px;
  border-color: #ff9933;
  padding: 4px;
  color: white;
  width: 200px;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  margin-right: 5px;
  margin-top:5px;
}

#limpiar {
  background: #ccffff;
  border-radius: 5px;
  border-color: #ccffff;
  padding: 4px;
  color: gray;
  width: 10%;
  font-family: 'Hind', sans-serif;
  font-size: 80%;
  margin: 10px;
}

#resultadoMensaje{
  color: gray;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-size: 150%;
}

@media max-width:400px {
  p {
    font-size: 30px;
  }
  #textoIngresado{
    height: 150px;
    font-size: 100%;
  }
  }
  #clave {
    font-size: 100%;
  }
  #cifrar{
    font-size: 100%;
  }

  #descifrar{
    font-size: 100%;
  }
  #limpiar {
    font-size: 100%;
  }
}
